/* CSS Reset */

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}

caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
/* End of CSS Reset */


/* Box Sizing */

* {
    box-sizing: border-box;
    border: 1px solid grey;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html {
    font-size: 62.5%; /* Setting html font size for REM*/
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #4f4f4f; /* Changed color for accessibility or readability*/
    font-family: Roboto Mono;

}

h1 {
    font-family: Chelsea Market, cursive;
    font-size: 5rem;
}

section {
    padding: 4% 0;
}

a {
    text-decoration: none;
}

/* Header Section Styles */

nav {
    padding: 2% 0;
}
 nav a {
     display: inline-block;
     padding: 1% 0;
     width: 10%;
     border-radius: 10px;
     text-align: center;
     color: white;
 }

.plan {
    background-color: #FF764E;
    width: 25%;
}

.learn {
    background-color: #5ED3EB;
    width: 25%;
}

.get-involved {
    background-color: #FFCD69;
    width: 25%;
}

.beige-background {
    color: white;
    background-color: #DDB8A2;
    
}

/* Top Section Styles */

.top {
    text-align: center;
}


.top-left, .top-right {
    display: inline-block;
}

/* Adjusting circular Yosemite Image*/
.top-left img {
    border-radius: 100%;
}

.top-left {
    width: 35%;
}

.top-right {
    width: 60%;
}

/* Footer Styling*/

footer {
    background-color: #F9E7DC;
}