
.plan {
    background-color: #FF764E;
}

.learn {
    background-color: #5ED3EB;
}

.get-involved {
    background-color: #FFCD69;
}

.header-text {
    
}

.beige-background {
    color: white;
    background-color: #DDB8A2;
}
